*{
    margin: 0;
    padding: 0;
    font-family: 'MuseoModerno', cursive;
}

#pagepiling .section{
    text-align: center;
}

#pagepiling .section h2{
    color: #fff;
    font-size: 10em;
    text-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

#pagepiling .section.sec1{
    background: url(Images/1.jpg);
    background-size: cover;
    z-index: 1;
}

#pagepiling .section.sec2{
    background: url(Images/2.png);
    background-size: cover;
}

#pagepiling .section.sec3{
    background: url(Images/3.jpg);
    background-size: cover;
}

#pagepiling .section.sec4{
    background: url(Images/4.jpg);
    background-size: cover;
}

#pagepiling .section.sec5{
    background: url(Images/5.jpg);
    background-size: cover;
}

#pagepiling .section.sec2 p{
    text-align: center;
    font-size: 24px;
    font-family: 'MuseoMonoa', cursive;
    color: white;
}

nav ul li{
    display: inline;
    list-style: none;
    margin: 0px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #333;
    font-size: 40px;
}

.logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    z-index: 2;
}

.logo-text{
    position: absolute;
    left: 10px;
    /* top: 10px; */
    font-size: 40px
}

.container-navbar{
    overflow: hidden;
    background: url(Images/1.jpg);
    z-index: 3;
}

.navbar{
    width: 100%;
    height: 12vh;
    margin: 0;
    z-index: 4;;
    display: flex;
}

nav{
    flex: 1;
    position: sticky;
    overflow: hidden;
    margin-top: 10px;
    background: transparent;
    text-align: end;
    z-index: 4; 
} 

